{% if page.cta == false %}

{% else %}
<section class="demo">
    <div class="wrapper flex-row fl-sm-col content-middle content-center">
        <div class="col-50 col-sm-100 text-center">
            <h2>{{ site.data.footer.demo.title }}</h2>
            <p>{{ site.data.footer.demo.subtitle }}</p>
            <a class="button-link"  data-modal="#modal-header">
                <div class="button large white">
                    {{ site.data.footer.demo.button }}
                </div>
            </a>
            <a class="cta-checkout-section inverted" href="{{site.app_url}}/checkout">
                <img src="/assets/images/icons/new.png" alt="new">
                <div>{{ site.data.footer.demo.ctaText }}</div>
            </a>
        </div>
    </div>
</section>
{% endif %}
