<section class="demo demo-resources">
    <div class="wrapper flex-row fl-sm-col content-middle content-center">
        <div class="col-50 col-sm-100 text-center">
            <h2>{{ site.data.footer.demo.title }}</h2>
            <p>{{ site.data.footer.demo.subtitle }}</p>
            <a class="button-link" data-modal="#modal-case-study">
                <div class="button large white">
                    {{ site.data.footer.demo.button }}
                </div>
            </a>
        </div>
    </div>
</section>