<section class="demo demo-resources">
    <div class="wrapper flex-row fl-sm-col content-middle">
        <div class="col-25 hidden-xs">
            <i class="icon icon-zigzag-group"></i>
        </div>
        <div class="col-50 col-sm-100 text-center">
            <h2>{{ site.data.footer.demo.title }}</h2>
            <p>{{ site.data.footer.demo.subtitle }}</p>
            <a class="button-link">
                <div class="button large blue modal-show" aria-haspopup="true">
                    {{ site.data.footer.demo.button }}
                </div>
            </a>
        </div>
        <div class="col-25 text-right hidden-xs">
            <i class="icon icon-zigzag-group"></i>
        </div>
    </div>
</section>