{% include cta.html %}

<div class="wrapper">
    <hr>
</div>
<div id="footer">
    <div class="flex-row  wrapper">
        <div class="footer-links col-75 col-sm-100 fl-sm-wrap">
            {% for section in site.data.footer.navigation %}
            <div class="col col-sm-50">
                <div class="section-name">{{ section.name }}</div>
                <ul>
                    {% for link in section.links %}
                    <li>
                        <a href="{{ site.baseurl }}/{{ link.url }}" class="footer link">
                            {{ link.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="footer-social col-25 ">
            <div class="footer-section social">
                <ul>
                    {% for social in site.data.footer.social %}
                    <li>
                        <a href="{{ social.url }}" target="_blank" class="link">
                            <i class="{{ social.icon }} icon small"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="footer-copyright col">{{ site.data.footer.copyright }}</div>
    </div>
</div>

{% include header-modal.html %}

{% if page.url == "/how-it-works/" %}

{% include resources-modal.html %}

{% endif %}


