<section class="partners">
    <div class="wrapper">
        <h2>{{ site.data.partners.title }}</h2>
        <div class="flex-row">
            {% for logo in site.data.partners.logos1 %}
            <div class="col-25">
                <img src="{{ logo.image }}" alt="{{ logo.alt }}">
            </div>
            {% endfor %}
            {% for logo in site.data.partners.logos2 %}
            <div class="col-25">
                <img src="{{ logo.image }}" alt="{{ logo.alt }}">
            </div>
            {% endfor %}
        </div>
    </div>
</section>