<section class="demo">
    <div class="wrapper flex-row fl-sm-col content-middle content-center">
        <div class="col-50 col-sm-100 text-center">
            <h2>{{ site.data.work-with-us.title }}</h2>
            <p>{{ site.data.work-with-us.subtitle }}</p>
            <a href="{{ site.baseurl }}/{{ site.data.work-with-us.buttonUrl }}" class="button-link">
                <div class="button large blue">
                    {{ site.data.work-with-us.button }}
                </div>
            </a>
        </div>
    </div>
</section>