---
title: Dor | Customers
permalink: /customers/
layout: default
---

{% assign string = site.data.customers %}

<div class="customers">
    <section id="customers" class="page-hero hero-section content-center content-middle">
        <div class="mobile-image">
            <img src="{{ string.hero.image }}">
        </div>
        <div class="hero col-50 col-sm-100">
            <div class="wrapper flex-row fl-sm-reverse content">
                <div class="col text-center">
                    <h1>{{ string.hero.title }}</h1>
                    <div class="subtitle">{{ string.hero.subtitle }}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners">
        <div class="wrapper">
            <div class="flex-row">
                {% for logo in site.data.partners.logos1 %}
                <div class="col-25">
                    <img src="{{ logo.image }}" alt="{{ logo.alt }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="feedback">
        <div class="wrapper">
            <h2 class="large">{{ string.feedbackTitile  }}</h2>
            {% for review in string.feedback %}
            <div class="about-company">
                <div class="flex-row fl-sm-col bordered-box">
                    <div class="col-33 col-sm-100">
                        <img src="{{ review.image }}">
                    </div>
                    <div class="col-66 col-sm-100">
                        <div class="text">
                            <small>{{ review.category }}</small>
                            <h2>{{ review.company }}</h2>
                            <p>{{ review.aboutcompany }}</p>
                            <a  data-modal="#modal-resource-library">{{ review.link }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div>
                {% for review in string.feedback %}
                <div class="review content-middle content-center">
                    <div class="col-75 col-sm-100 text-center">
                        <blockquote>
                            <a href="{{ review.authorUrl }}">
                                <p>{{ review.text }}</p>
                                <footer>{{ review.author }}</footer>
                                <div>{{ review.authorPosition }}</div>
                            </a>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="partners">
        <div class="wrapper">
            <h2>{{ string.partners2.title }}</h2>
            <div class="flex-row">
                {% for logo in site.data.partners.logos2 %}
                <div class="col-25">
                    <img src="{{ logo.image }}" alt="{{ logo.alt }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
