---
title: Dor | People Counter | How It Works
description: Learn how Dor, the worlds’ first thermal-sensing battery-operated people counter, helps retailers understand their foot traffic data.
permalink: /how-it-works/
layout: default
cta: false
---

{% assign string = site.data.how-it-works %}

<section id="how-it-works" class="hero-section">
    <div class="hero">
        <div class="wrapper flex-row fl-sm-reverse content-middle">
            <div class="col text">
                <h1>{{ string.hero.title }}</h1>
                <div class="subtitle">{{ string.hero.subtitle }}</div>
                <a class="button-link"  data-modal="#modal-header">
                    <div class="button large white">
                    {{ string.hero.button }}
                    </div>
                </a>
                <a class="cta-checkout-section inverted" href="{{site.app_url}}/checkout">
                    <img src="/assets/images/icons/new.png" alt="new">
                    <div>{{ string.hero.ctaText }}</div>
                </a>
            </div>
            <div class="col video-section">
                <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="346954831"></div>
            </div>
        </div>
    </div>
</section>

<nav id="navigation" class="body-navigation">
    <ul>
        {% for nav in string.navigation %}
        <li>
            <a href="#{{ nav.title  | downcase | remove: ' ' }}">
                <span class="hidden-xs">{{ nav.title }}</span>
                <span class="visible-xs">{{ nav.mobileTitle }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>

<div class="tabs-stage">
    {% for tab in string.tabs %}
    <div id="{{ tab.title  | downcase | remove: ' '  }}" >
        <section class="heading {{ tab.content.heading.class }}">
            <div class="wrapper flex-column">
                <div class="col text-center">
                    <h2 class="large">{{ tab.content.heading.title }}</h2>
                    <div class="subtitle">{{ tab.content.heading.subtitle }}</div>
                    {% if tab.content.heading.image %}
                        <img src="{{ tab.content.heading.image }}" alt="{{ tab.content.heading.alt }}">
                    {% endif %}
                </div>
            </div>
        </section>

        <section class="second-section {{ tab.content.second-section.class }}">
            <div class="dor wrapper flex-row fl-sm-reverse  content-middle">
                <div class="col">
                    <img src="{{ tab.content.second-section.image }}" alt="{{ tab.content.second-section.alt }}">
                </div>
                <div class="col">
                    <h2>{{ tab.content.second-section.title }}</h2>
                    <p>{{ tab.content.second-section.subtitle }}</p>
                </div>
            </div>
        </section>

        <section class="feautures">
            <div class="wrapper">
                <h2 class="text-center">{{ tab.content.feautures.title }}</h2>
                <div class="flex-row fl-sm-col">
                    {% for item in tab.content.feautures.points %}
                    <div class="col col-sm-100">
                        <div class="checklist-section">
                            <h3>{{ item.title }}</h3>
                            <ul>
                                {% for list in item.lists %}
                                <li class="flex-row">
                                    <i class="icon icon-check"></i>
                                    <span>{{ list.title }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% if tab.content.details %}
        <div class="wrapper">
            <div class="more-details flex-row fl-sm-col content-center text-center content-middle">
                <div class="col-66 col-sm-100">
                    {% if tab.content.details.href %}
                        <a href="{{tab.content.details.href}}">{{tab.content.details.link_text}}</a>
                    {% else %}
                        <a data-modal="#{{ tab.content.heading.contentID }}">Download</a>
                    {% endif %}
                    {{ tab.content.details.title }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% include cta_resources.html %}
</div>
