---
title: Dor - Operations driven by foot traffic analytics
permalink: /how-it-works/
layout: default
cta: false
---

{% assign string = site.data.how-it-works %}

<section id="how-it-works" class="hero-section">
    <div class="hero">
        <div class="wrapper flex-row fl-sm-reverse content-middle">
            <div class="col text">
                <h1>{{ string.hero.title }}</h1>
                <div class="subtitle">{{ string.hero.subtitle }}</div>
                <a class="button-link">
                    <div class="button large white show" aria-haspopup="true">
                    {{ string.hero.button }}
                    </div>
                </a>
            </div>
            <div class="col video-section">
                <video  id="vid1"
                        class="video-js vjs-default-skin"
                        controls
                        data-setup='{ "techOrder": ["youtube"], "sources": [{ 
                        "type": "video/youtube", 
                        "src": "{{ string.hero.videoUrl }}"}] }'>
                </video>
            </div>
        </div>
    </div>
</section>

<nav id="navigation" class="body-navigation">
    <ul>
        {% for nav in string.navigation %}
        <li>
            <a href="#{{ nav.title  | downcase | remove: ' ' }}">{{ nav.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

<div class="tabs-stage">
    {% for tab in string.tabs %}
    <div id="{{ tab.title  | downcase | remove: ' '  }}" >
        <section class="heading">
            <div class="wrapper flex-column">
                <div class="col text-center">
                    <h2 class="large">{{ tab.content.heading.title }}</h2>
                    <div class="subtitle">{{ tab.content.heading.subtitle }}</div>
                    <img src="{{ tab.content.heading.image }}" alt="{{ tab.content.heading.alt }}">
                </div>
            </div>
        </section>
    
        <section class="second-section">
            <div class="dor wrapper flex-row fl-sm-reverse  content-middle">
                <div class="col">
                    <img src="{{ tab.content.second-section.image }}" alt="{{ tab.content.second-section.alt }}">
                </div>
                <div class="col">
                    <h2>{{ tab.content.second-section.title }}</h2>
                    <p>{{ tab.content.second-section.subtitle }}</p>
                </div>
            </div>
        </section>
        
        <section class="feautures">
            <div class="wrapper">
                <h2 class="text-center">{{ tab.content.feautures.title }}</h2>
                <div class="flex-row fl-sm-col">
                    {% for item in tab.content.feautures.points %}
                    <div class="col col-sm-100">
                        <div class="checklist-section">
                            <h3>{{ item.title }}</h3>
                            <ul>
                                {% for list in item.lists %}
                                <li class="flex-row">
                                    <i class="icon icon-check"></i>
                                    <span>{{ list.title }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% if tab.content.details %}
        <div class="wrapper">
            <div class="more-details flex-row fl-sm-col content-center text-center content-middle">
                <div class="col-66 col-sm-100">
                    {{ tab.content.details.title }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% include cta_resources.html %}
    {% endfor %}
</div>
