---
title: Dor | People Counter | Operations Driven by Foot Traffic Analytics
description: Drive your retail operations with foot traffic analytics from Dor, a complete people counting solution for retail and facility management.
permalink: /
layout: default
---
{% assign string = site.data.homepage %}

<section id="hero" class="hero-homepage">
  <div class="wrapper content-center">
    <div class="hero-text text-center col-50">
      <h1 class="text-title">{{ string.hero.title }}</h1>
      <div class="subtitle">
        <p>{{ string.hero.subtitle }}</p>
        <p>{{ string.hero.subtitle2 }}</p>
      </div>
      <a class="button-link" id="requestDemo" data-modal="#modal-header">
        <div class="button large blue">{{ string.hero.button }}</div>
      </a>
    </div>
  </div>

  <div class="hero__right">
    <div class="hero-image">
      <img id="hero-dor-sensor" src="https://assets.getdor.com/optimize/hero-image.png" alt="">
      <img id="hero-dor-attributes" src="https://assets.getdor.com/optimize/bitmap.png" alt="">
    </div>
    <a data-modal="#modal-video" class="modal-button">
      <img src="https://assets.getdor.com/optimize/hero-icon-play.png" width="64" height="64" alt="">
      Watch How Dor Works
    </a>
  </div>

  <div class="hero__media">
    <img src="https://assets.getdor.com/optimize/hero-image.png" width="297" height="170" alt="">
  </div>

  <div class="hero-dark">
    <div class="item">
      <span class="icon">
        <img src="https://assets.getdor.com/optimize/icon1.png" width="64" height="64">
      </span>
      <span>Store <br>Traffic</span>
    </div>
    
    <div class="item">
      <span class="icon">
        <img src="https://assets.getdor.com/optimize/icon2.png" width="64" height="64">
      </span>
      <span>Peak <br>Hours</span>
    </div>

    <div class="item">
      <span class="icon">
        <img src="https://assets.getdor.com/optimize/icon3.png" width="64" height="64">
      </span>
      <span>Conversion <br>Rates</span>
    </div>
  </div>

  <div class="hero-button">
    <a data-modal="#modal-video" class="modal-button">
      <img src="https://assets.getdor.com/optimize/hero-icon-play.png" width="64" height="64" alt="">
      Watch How Dor Works
    </a>
  </div>
</section>

<section id="homepage-cards">
  <div class="flex-row fl-sm-col wrapper">
    {% for card in string.cards %}
    <div class="card col col-sm-100 flex-column">
      <img src="{{ card.image }}">
      <h3>{{ card.title }}</h3>
      <p>{{ card.subtitle }}</p>
      <a href="{{ site.baseurl }}{{ card.buttonUrl }}">{{ card.button }}</a>
    </div>
    {% endfor %}
  </div>
</section>

<section id="features">
  <div class="wrapper content-wrap">
    {% for feature in string.features %}
    <div class="flex-row fl-sm-col content-middle">
      <div class="col col-sm-100">
        <h2>{{ feature.title }}</h2>
        <p>{{ feature.subtitle }}</p>
        <a href="{{ feature.buttonUrl }}" class="button-link">
          <div class="button large blue">
            {{ feature.button }}
          </div>
        </a>
      </div>
      <div class="col col-sm-100">
        <img src="{{ feature.image }}">
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section id="testimonials">
  <div class="wrapper content-wrap">
    <h2 class="text-center">{{ string.testimonials.title }}</h2>
    <div>
      {% for testimonial in string.testimonials.reviews %}
      <div>
        <div class="text-center">
          <p>{{ testimonial.text }}</p>
          <cite>{{ testimonial.author  | capitalize }}</cite>
          <small>{{ testimonial.position }}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="homepage-partners">
  {% include partners.html %}
</div>
