---
title: People Counters & People Counting&#58; Everything You Need to Know - GetDor.com
description: People counters (or door counters) help retail stores collect foot traffic data to gain valuable insights about their customers and businesses as a whole.
permalink: /solutions/people-counting/
layout: default
cta: false
---

{% assign string = site.data.people-counting %}

<div id="people-counting-page">
  <section id="people-counting" class="page-hero hero-section content-center content-middle">
      <div class="hero col-50 col-sm-100">
          <div class="wrapper flex-row fl-sm-reverse content-middle">
              <div class="col text-center">
                  <h1>{{ string.hero.heading }} <br> {{ string.hero.title }}</h1>
                  <p class="subtitle">{{ string.hero.subtitle }}</p>
                  <div class="hero__more-context">
                    <p class="subtitle">Independent retailer striving to better understand your customers behavior? Enterprise retailer looking to compare foot traffic and conversion rate performance across different locations?</p>
                    <p class="subtitle">Is your goal to discover your stores 'peak hours' in order to optimize staff scheduling for increased customer satisfaction?</p>
                    <p class="subtitle">Recently rolled out a new marketing campaign and curious about the impact of your spending in your store’s foot traffic?</p>
                    <p class="subtitle">Utilizing people counters and measuring foot traffic allow businesses to achieve these goals.</p>
                    <p class="subtitle">People counters and foot traffic data are the only way to see the bigger picture for your business when it comes to understanding customer behavior, sales associate performance and the effectiveness of marketing campaigns.</p>
                    <p class="subtitle">At Dor, our mission is to empower retailers with actionable data about their stores using novel hardware and software. On this page, you’ll find everything you need to know about people counters and foot traffic counting. If you have more questions, we encourage you to reach out! (email link to “reach out to us”: support@getdor.com).</p>
                  </div>
              </div>
          </div>
      </div>

      <button class="page-hero__button js-hero" type="button">
        <img src="{{ string.hero.icon }}" alt="">
      </button>
  </section>

  <section id="features" class="people-counting-section">
    <div class="wrapper content-wrap">
      {% for feature in string.features %}
      <div class="flex-row fl-sm-col content-middle">
        <div class="col col-sm-100">
          <h2>{{ feature.title }}</h2>
          <p>{{ feature.subtitle }}</p>
          <a href="{{ feature.buttonUrl }}" class="button-link" data-modal="#modal-header">
            <div class="button large blue">
              {{ feature.button }}
            </div>
          </a>
          <a class="cta-checkout-section align-left" href="{{site.app_url}}/checkout">
            <img src="/assets/images/icons/new.png" alt="new">
            <div>{{ feature.ctaText }}</div>
          </a>
        </div>
        <div class="col col-sm-100">
          <figure class="figure-wrapper">
            <span>
              <img src="{{ feature.image }}" alt="">
            </span>
          </figure>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="people-counting-section people-counting-cards">
    <header class="header wrapper content-wrap">
      <h2 class="h1 text-center color-dark-blue">{{ string.cards.title }}</h2>
    </header>
    <div class="flex-row fl-sm-col wrapper slider-on-mobile">
      {% for card in string.cards.content %}
      <div class="col col-sm-100 flex-column">
        <div class="card">
          <figure class="card__media">
            <span>
              <img src="{{ card.image }}" alt="{{ card.title }}">
            </span>
          </figure>
          <div class="card__body">
            <h3 class="card__title color-dark-blue">{{ card.title }}</h3>
            <p>{{ card.subtitle }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="props-cons" class="people-counting-section">
    <header class="header wrapper content-wrap">
      <h2 class="h1 text-center color-dark-blue">{{ string.pros_and_cons.title }}</h2>
      <small>Scroll horizontally to see the full chart</small>
    </header>
    <div class="flex-row fl-sm-col wrapper">
      <div class="list-wrapper">
        <ul class="list">
          {% for item in string.pros_and_cons.content %}
          <ol style="z-index: {{ item.zindex }}">
            <li class="list__item">{{ item.title }}</li>
            <li class="list__item">
              <img src="{{ item.image }}" alt="">
              {{ item.prop1 }}
            </li>
            <li class="list__item">{{ item.prop2 }}</li>
            <li class="list__item">{{ item.prop3 }}</li>
          </ol>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="people-counting-section accurate" id="accurate">
    <div class="wrapper">
      <div class="flex-row fl-sm-col flex-xs-row flex-wrap">
        <div class="col col-sm-100 flex-column">
          <div class="accurate__item accurate__item-beacon">
            <img src="/assets/images/people-counting/beacon-sensors.png" alt="">
          </div>
        </div>

        <div class="col col-sm-100 flex-column">
          <div class="accurate__item accurate__item-dor">
            <img src="/assets/images/people-counting/accurate-dor.png" alt="">
          </div>
        </div>

        <div class="col col-sm-100 flex-column">
          <div class="accurate__item accurate__item-wifi">
            <img src="/assets/images/people-counting/wifi-sensors.png" alt="">
          </div>
        </div>
        <div class="col col-sm-100 flex-column">
          <div class="accurate__item accurate__item-camera">
            <img src="/assets/images/people-counting/camera-sensors.png" alt="">
          </div>
        </div>
      </div>

      <div class="accurate__bottom">
        <img src="/assets/images/people-counting/accurate-bottom.png" width="1086" height="51" alt="">
      </div>
    </div>
  </section>

  <section id="people-counting-faq" class="people-counting-section">
    <header class="header wrapper content-wrap">
      <h2 class="h1 text-center color-dark-blue">{{ string.faq.title }}</h2>
    </header>

    <div class="flex-row fl-sm-col wrapper slider-count-container">
      <span>
        <span class="slider-count"></span>
      </span>
    </div>

    <div class="flex-row fl-sm-col wrapper slider">
      {% for question in string.faq.questions %}
        <div class="flex-row fl-sm-col wrapper slider__item">
          <div class="col flex-column">
            <figure class="slider__figure">
              <span style="background-image:url({{question.image_url}}); background-position: left;"></span>
            </figure>
          </div>
          <div class="col">
            <div class="slider__content">
              <h3>{{question.title}}</h3>
              <p>{{question.text}}</p>
              <a href="{{question.link}}" target="_blank" class="button large blue">Learn more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="people-counting-section">
    <header class="header wrapper content-wrap">
      <h2 class="h1 text-center color-dark-blue">Why Dor?</h2>
    </header>
    <div class="wrapper p-sm-0">
      <div class='embed-container'>
        <iframe src='https://www.youtube.com/embed/wNjMUDspr1k' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section class="people-counting-section">
    <header class="header wrapper content-wrap">
      <h2 class="h1 text-center color-dark-blue">About Hardware</h2>
    </header>
    <div class="flex-row fl-sm-col wrapper col-p40 d-flex align-items-center">
      <div class="col col-sm-100 flex-column flex-column--static">
        <figure class="figure-wrapper">
          <span>
            <img src="/assets/images/people-counting/about-hardware.jpg" alt="">
          </span>
        </figure>
      </div>
      <div class="col col-sm-100 flex-column col-list-container">
        <ul class="list list--content">
          <li class="list__item">Dor uses proprietary low-power thermal detection and machine learning algorithms, ensuring industry-leading accuracy.</li>
          <li class="list__item">Dor requires no professional installation, no drilling holes, no in-store Wi-Fi, and no running ethernet or power.</li>
          <li class="list__item">Simply peel and stick on your door. Dor runs on its own secure cellular network, so there is no need to worry about setting up network access or firewalls.</li>
          <li class="list__item">Dor uses thermal sensors which protects customer privacy and is GDPR compliant.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="people-counting-section about-software">
    <header class="header wrapper content-wrap">
      <h2 class="h1 text-center color-dark-blue">About Software</h2>
    </header>
    <div class="flex-row flex-row--reverse fl-sm-col wrapper col-p40 d-flex align-items-center">
      <div class="col col-sm-100 flex-column flex-column--static">
        <figure class="figure-wrapper">
          <span>
            <img src="/assets/images/people-counting/about-software.png" alt="">
          </span>
        </figure>
      </div>
      <div class="col col-sm-100 flex-column">
        <ul class="list list--content">
          <li class="list__item">See your foot traffic, conversion rate, revenue, transactions and average transaction value on the same screen.</li>
          <li class="list__item">Easily view and compare all of your locations’ performance.</li>
          <li class="list__item">Integrate your data with your POS or any BI tool you are using or export it for reporting purposes.</li>
          <li class="list__item">Check your stores performance from your desktop, smartphone or tablet: any device, anytime, anywhere.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="people-counting-section slider-quote">
    <div class="flex-row flex-row--reverse fl-sm-col wrapper col-p40">
      <div class="slider wrapper">
        {% for quote in string.quotes %}
          <div class="slider__item">
            <p>{{quote.text}}</p>
            <div class="slider__author">
              <span class="wrap">
                <strong>{{quote.person}}</strong>
                <small>{{quote.company}}</small>
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="people-counting-section people-counting-cta">
    <div class="flex-row fl-sm-col wrapper col-p40 column-reverse">
      <div class="col col-sm-100 flex-column d-flex justify-content-center">
        <h3>Empower <br> your business today</h3>
        <p>Request a demo to have an account executive show you just how easy it is to get started with Dor.</p>
        <a href="#" class="button-link" data-modal="#modal-header">
          <div class="button large white">Request Demo</div>
        </a>
        <a class="cta-checkout-section align-left inverted" href="{{site.app_url}}/checkout">
          <img src="/assets/images/icons/new.png" alt="new">
          <div>Ready to buy? Complete your purchase in just minutes!</div>
        </a>
      </div>
      <div class="col col-sm-100 flex-column">
        <figure class="cta-figure">
          <span style="background-image: url(/assets/images/people-counting/request-demo-2.jpg);"></span>
        </figure>
      </div>
    </div>
  </section>

  <section class="people-counting-section people-counting-cards people-counting-cards-blog">
    <header class="header wrapper content-wrap">
      <h3 class="h1 text-center color-dark-blue">{{string.blog_posts.title}}</h3>
    </header>
    <div class="flex-row fl-sm-col wrapper slider-3">
      {% for post in string.blog_posts.posts %}
        <a href="{{post.link}}" class="col col-sm-100 flex-column" target="_blank">
          <div class="card">
            <figure class="card__media" style="background-image: url({{post.image_url}});"></figure>
            <div class="card__body">
              <h3 class="card__title">{{post.title}}</h3>
            </div>
            <span class="button button--more">
              <span>Read more</span>
            </span>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
</div>
