---
title: Dor | Resources
permalink: /resources/
layout: default
---

{% assign string = site.data.resource-page %}

<section id="resources" class="page-hero hero-section content-center content-middle">
    <div class="mobile-image">
        <img src="{{ string.hero.image }}">
    </div>
    <div class="hero col-50 col-sm-100">
        <div class="wrapper flex-row fl-sm-reverse content-middle">
            <div class="col text-center">
                <h1>{{ string.hero.title }}</h1>
                <div class="subtitle">{{ string.hero.subtitle }}</div>
            </div>
        </div>
    </div>
</section>


<nav id="navigation" class="body-navigation">
    <ul>
        {% for nav in string.navigation %}
        <li>
            <a href="#{{ nav.title | downcase | remove: ' ' | remove: '?' }}">
                <span class="hidden-xs">{{ nav.title }}</span>
                <span class="visible-xs">{{ nav.mobileTitle }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>

<section class="resource-stages">
    {% for item in site.data.resources.sections %}
    <div id="{{ item.section | downcase | remove: ' ' | remove: '?'  }}" >
        <div class="wrapper content-middle content-center">
            <div class="col-75 col-sm-100">
                <div class="heading">
                    <h2 class="text-center large">{{ item.title }}</h2>
                    {% if item.subtitle %}
                    <div class="subtitle text-center">{{ item.subtitle }}</div>
                    {% endif %}
                </div>
                {% if item.featured %}
                <div>
                    {% for post in item.featured %}
                    <div class="featured">
                        <img src="{{ post.image }}" alt="{{ post.alt }}">
                        <p>{{ post.text }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="all-posts">
            <div class="wrapper">
                <h2 class="text-center">{{ item.learnMore.title }}</h2>
                <div class="flex-row fl-sm-col"  id="resources-card">
                    {% assign sorted =  item.learnMore.posts | sort: 'date' | reverse  %}
                    {% for item in sorted %}
                    {% if item.videoUrl %}
                    <div class="col-33 cards" data-type="{{ item.type }}">
                        <div class="card">
                            <div>
                                <span>{{ item.type | upcase  }}</span>
                            </div>
                            <iframe width="100%" height="146" src="{{ item.videoUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a href="{{ item.url }}" target="_blank">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.description | truncatewords: 15 }}</p>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-33 cards" data-type="{{ item.type }}">
                        <div class="card" data-modal="#{{ item.contentID }}">
                            <div>
                                <span>{{ item.type | upcase  }}</span>
                            </div>
                            <img src="{{ item.imageurl }}">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.description | truncatewords: 15 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="allresources" >
        <div class="all-posts">
            <div class="wrapper">
                <h2 class="text-center">{{ string.allposts.title }}</h2>
                <div class="filter col flex-row">
                    <span>{{ string.allposts.filter }}:</span>
                    <span id="type-filter">
                        <span>{{ string.allposts.filterName }}</span>
                        <ul>
                            <li><a data-type="all_filter" href="#">{{ string.filterName }}</a></li>
                            {% assign all_types = site.data.resources.allresources  | map: "type" | uniq  %}
                            {% for item in all_types  %}
                            <li><a data-type="{{ item }}" href="#">{{ item | capitalize }}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>
                <div class="flex-row fl-sm-col"  id="resources-card">
                {% assign sorted = site.data.resources.allresources | sort: 'date' | reverse  %}
                {% for item in sorted %}
                {% if item.videoUrl %}
                <div class="col-33 cards" data-type="{{ item.type }}">
                    <div class="card">
                        <div>
                            <span>{{ item.type | upcase  }}</span>
                        </div>
                        <iframe width="100%" height="146" src="{{ item.videoUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a href="{{ item.url }}" target="_blank">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.description | truncatewords: 15 }}</p>
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="col-33 cards" data-type="{{ item.type }}">
                    <div class="card" data-modal="#{{ item.contentID }}">
                        <div>
                            <span>{{ item.type | upcase  }}</span>
                        </div>
                        <img src="{{ item.imageurl }}">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.description | truncatewords: 15 }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
