<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        {% include scripts/head.html %}
        {% include trackers/cj.html %}
        {% if page.url == "/solutions/people-counting/" %}
            {% include scripts/faq-ld.html %}
        {% endif %}
    </head>
    <body>
        {% include trackers/google-tag-manager-body.html %}
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        {% include scripts/body.html %}
    </body>
</html>
