$header-height: 56px;

$default-padding: 64px 0 80px;
$default-tablet-padding: 40px 0 56px;
$default-mobile-padding: 32px 0 48px;

$header-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);


html {
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

body.active {
    overflow: hidden;
}

body {
    font-family: $font-family;
    width: 100%;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;

    * {
        box-sizing: border-box;
    }

    &.mobile-menu-open {
        overflow-y: hidden;

        #mobile-header {
            // menu-open styling
        }

        #mobile-menu-wrapper {
            pointer-events: auto;
            background-color: $white;

            #mobile-menu {
                opacity: 1;
            }
        }
    }
}

img {
    width: 100%;
    max-width: 100%;
}

.rotate {
    transform: rotate(180deg);
}

.padding {
    padding: $default-padding;

    @include media-down(md) {
        padding: $default-tablet-padding;
    }
    @include media-down(sm) {
        padding: $default-mobile-padding;
    }
}

.hidden-xs {

    @include media-down(sm) {
        display: none !important;
    }
}

.visible-xs {
    display: none;

    @include media-down(sm) {
        display: block !important;
    }
}
//Flex classes

.wrapper {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

    @include media-down(md) {
        padding-right: 12px;
        padding-left: 12px;
    }

    @include media-down(sm) {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row; 
   
}

.fl-sm-wrap {

    @include media-down(sm) {
        flex-wrap: wrap;
    }
}

.fl-sm-col {

    @include media-down(sm) {
        flex-direction: column;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-center {
    justify-content: middle;
}

.content-middle {
    align-items: center;
    display: flex;
}

// Grid

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 12px;
}

.col-25 {
    padding: 0 12px;
    flex: 0 0 25%;
    max-width: 25%;
    @include media-down(md) { 
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-33 {
    padding: 0 12px;
    flex: 0 0 33.3367%;
    max-width: 33.3367%;

    @include media-down(sm) { 
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-50 {
    padding: 0 12px;
    flex: 0 0 50%;
    max-width: 50%;
    @include media-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
}

.col-66 {
    padding: 0 12px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-75 {
    padding: 0 12px;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-sm-50 {

    @include media-down(sm) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-sm-100 {

    @include media-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
}


// Buttons 

.button-link {
    color: inherit;
    text-decoration: inherit;
}

.button {
    border-radius: 8px;
    font-weight: $font-weight-bold;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;

    &.blue {
        background-color: $blue;
        color: $white;

        &:hover {
            background-color: $blue;
        }
    }

    &.white {
        background-color: $white;
        color: $dark-blue;

        &:hover {
            background-color: $white;
        }
    }

    &.small {
        height: 31px;
        padding: 0 12px;
        line-height: 31px;
        font-size: $font-size-small;
       
    }

    &.large {
        height: 56px;
        padding: 0 32px;
        line-height: 56px;
        font-size: $default-font-size;
        @include media-down(md) {
            font-size: $font-size-medium;
            padding: 0 24px;
            height: 48px;
            line-height: 48px;
        }
    }
}

// Links
.link {
    color: inherit;
    text-decoration: inherit;

    &.footer {
        line-height: 1.5;
        font-size: $font-size-medium;
        color: $black;
    }

    &.primary {
        font-size: $default-font-size;
        font-weight: $font-weight-bold;

        &:hover {
            color: $link-hover-color;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

// Icons 

.icon {

    &.icon-close {
        background: url(../images/icons/close.png) no-repeat left center;
        background-size: cover;
        height: 22px;
        width: 22px;
        display: inline-block;

        @include media-down(sm) {
            width: 16px;
            height: 16px;
        }
    }

    &.icon-quote {
        background-size: contain;
        height: 20px;
        width: 24px;
        display: inline-block;

        &.green {
            background: url(../images/icons/quote_green.svg) no-repeat left center;
        }

        &.blue {
            background: url(../images/icons/quote_blue.svg) no-repeat left center;
        }

        &.peach {
            background: url(../images/icons/quote_peach.svg) no-repeat left center;
        }
    }

    &.icon-zigzag {
        background: url(../images/icons/zigzag.svg) no-repeat left center;
        background-size: contain;
        height: 10px;
        width: 100%;
        display: inline-block;
    }

    &.icon-zigzag-group {
        background: url(../images/icons/zigzag-group.svg) no-repeat  center;
        background-size: contain;
        height: 110px;
        width: 100%;
        display: inline-block;
    }

    &.small {
        font-size: 1.4295rem;
    }

    &.medium {
        font-size: 2.5rem;
    }

    &.large {
        font-size: 2.875rem;
    }
}
