#careers {
    background: url(../images/careers/hero.jpg) no-repeat center center;
    background-size: cover;

    .hero {
        opacity: 0.95;
        padding: 40px 8px;

        @include media-down(sm) {
            padding: 20px 16px;
        }

        h1 {

            @include media-down(sm) {
                font-size: $font-size-large;
            }
        }

    }
}

.career {

    .wrapper>div img {
        padding-left: 40px;

        @include media-down(sm) {
            padding-left: 0;
        }
    }
    
    .button-link {
        margin-top: 20px;
        display: block;
        
        @include media-down(md) {
            margin-top: 16px;
        }
    }
}

.photos {
    margin-bottom: 128px;

    @include media-down(md) {
        margin-bottom: 80px;
    }
    
    @include media-down(sm) {
        margin-bottom: 32px;
    }

    .col {
        justify-content: space-between;

        img {

            @include media-down(sm) {
                margin-bottom: 15px;
                max-height: 66vw;
                object-fit: cover;
            }
        }
    }
}

.our-value {

    h2 {
        margin-bottom: 32px;

        @include media-down(md) {
            margin: 24px 0;
        }

        @include media-down(sm) {
            margin-bottom: 16px;
            text-align: left;
        }
    }

    .flex-row {
        flex-wrap: wrap;

        & > div {
            margin-bottom: 24px;

            
            @include media-down(sm) {
                margin-bottom: 16px;
            }

            &:nth-child(1) >div {
                background-color: $pale-sky-blue;
            }

            &:nth-child(2) > div {
                background-color: $light-peach;
            }

            &:nth-child(3) > div {
                background-color: $wheat;
            }

            &:nth-child(4) > div {
                background-color: $hospital-green;
            }
            
            & > div {
                padding: 32px;
                border-radius: 8px;
                border: 1px solid $light-blue-grey;
                height: 100%;


                @include media-down(md) {
                    padding: 24px 20px;
                }

                @include media-down(sm) {
                    text-align: left;
                }
    
                h4 {
                    margin-bottom: 8px;
                    line-height: 1.33;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
    
                p {
                    color: $dark-grey;
                }
            }
        }
    }
}

.benefits {
    margin: 100px 0 128px;

    @include media-down(md) {
        margin: 66px 0 80px;
    }

    @include media-down(sm) {
        margin: 32px 0 57px;
    }

    .content-middle {

        @include media-down(sm) {
            align-items: flex-start;
        }
    }
    
    img {
        padding-right: 28px;

        @include media-down(md) {
            padding-right: 0;
        }

        @include media-down(sm) {
            margin-bottom: 16px;
        }
    }

    h2 {
        margin-left: 48px;
        margin-bottom: 16px;

        @include media-down(md) {
            margin-left: 41px;
            margin-bottom: 12px;
        }

        @include media-down(sm) {
            margin-left: 0;
        }
    }

    .benefit-points {
        margin-bottom: 6px;

        @include media-down(md) {
            margin-bottom: 4px;
            align-items: flex-start;
        }

        span {
            margin-left: 16px;
            display: inline-block;

            @include media-down(md) {
                font-size: $font-size-medium;
            }
        }
    }
}

.open-positions {
    background-color: $ice-blue;
    @extend .padding;

    h2 {
        margin-bottom: 8px;
    }

    .subtitle {
        width: 75%;
        display: inline-block;

        @include media-down(sm) {
            width: 100%;
        }
    }
    
    #jobs-container {
        margin-top: 48px;

        @include media-down(md) {
            margin-top: 16px;
        } 

        @include media-down(sm) {
            margin-top: 9px;
        }

        .lever ul {

            li {
                background-color: $white;
                border-radius: 8px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top: 16px;
                text-align: left;
                
                a {
                    padding: 24px;
                    display: block;
                    font-size: $font-size-large;
                    color: $black;
                    font-weight: $font-weight-bold;

                    @include media-down(md) {
                        font-size: $default-font-size;
                    }

                    &:after {
                        content: 'See role';
                        display: block;
                        font-size: $default-font-size;
                        color: $blue;
                        margin-top: 12px;
                        font-weight: $font-weight-semi-bold;

                        @include media-down(md) {
                            margin-top: 6px;
                            font-size: $font-size-small;
                        }
                    }
                }
            }
        }
    }
}

.employees-feedback {
    @extend .padding;

    h2 {
        margin-bottom: 40px;

        @include media-down(sm) {
            margin-bottom: 25px;
        }
    }

    .feedback-box {
        border: 1px solid $light-blue-grey;
        border-radius: 8px;
        height: 100%;
        padding: 40px;

        @include media-down(md) {
            padding: 24px;
        }

        @include media-down(sm) {
            margin-bottom: 17px;
        }

        img {
            width: 96px;
            border-radius: 100px;

            @include media-down(md) {
                width: 80px;
            }
        }

        p, div {
            font-size: $font-size-large;
            line-height: 1.33;

            @include media-down(md) {
                font-size: $default-font-size;
            }
        }

        p {
            margin-bottom: 40px;

            @include media-down(md) {
                margin-bottom: 32px;
            }            
        }
        
        div {
            margin-bottom: 4px;
            font-weight: $font-weight-bold;

            @include media-down(md) {
                margin-bottom: 0;
            }
        }

        small {
            font-size: $default-font-size;
            color: $brownish-grey;
            text-transform: none;
        }
    }
}