$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$light-black: #2f2f30;

$whitish-grey: #f2f2f2;
$dark-grey: #2f2f30;
$brownish-grey: #6a6a6a;
$light-grey:#dde9e6;


$light-blue: #c3d0e9;
$blue: #205ed8;
$dark-blue: #002a81;
$ice-blue: #f2f6ff;
$light-blue-grey: #e2edf8;

$teal: #dde9e6;
$green: #0a4a4d;
$peach: #FDDFBB;
$caramel: #bc760b;

$red: #df1e25;

$link-hover-color: rgba(53,125,208,1);
$form-input-border-color: rgba(106,103,206,1);
$mobile-menu-background-color: $white;
$mobile-menu-sign-in-color: rgba(235,235,235,1);
