#customers {
    background: url(../images/customers/hero.jpg) no-repeat center center;
    background-size: cover;
}
.feedback {

    .about-company {

        .bordered-box {
            border-radius: 8px;
            border: solid 1px $light-blue-grey;
        }
    }
}
