#customers {
    background: url(../images/customers/hero.jpg) no-repeat center center;
    background-size: cover;

    .subtitle {
        margin-bottom: 0;
    }
}
.feedback {
    @extend .padding;

    .about-company {
        margin-bottom: 33px;

        .bordered-box {
            border-radius: 8px;
            border: solid 1px $light-blue-grey;
            margin: 0 12px;

            @include media-down(md) {
                align-items: unset;
            }

            @include media-down(sm) {
                margin: 0;
            }

            .col-33 {
                padding: 0;
            }

            .col-66 {
                align-self: center;
            }

            img {
                height: 100%;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;

                @include media-down(md) {
                    height: 100%;
                    object-fit: cover;
                }

                @include media-down(sm) {
                    display: block;
                    height: calc((100vw - 32px)* (2/3));
                    width: 100vh;
                    object-fit: cover;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 8px;
                }
            }

            .text {
                margin: 0 28px;
                
                @include media-down(md) {
                    margin: 32px 20px;
                }
                
                @include media-down(sm) {
                    margin: 20px 16px;
                }

                h2 {

                    @include media-down(md) {
                        font-size: $font-size-xl;
                    }

                    @include media-down(sm) {
                        font-size: $font-size-large;
                        line-height: 1.17;
                    }
                }

                small {

                    @include media-down(sm) {
                        margin-bottom: 10px;
                    }
                }

                p {
                    margin: 24px 0;
                    color: $dark-grey;

                    @include media-down(md) {
                        margin: 20px 0;
                    }

                    @include media-down(sm) {
                        margin: 16px 0;
                    }
                }
    
                a {
                    display: block;
                    font-weight: $font-weight-bold;
                    color: $blue;
                }
            }
        }
    }

    .review {
        padding: 48px 0;
        border: 1px solid $light-blue-grey;
        border-radius: 8px;
        margin-bottom: 32px;

        blockquote {
            
            @include media-down(sm) {
                margin: 0;
                padding: 0;
            }

            a {
                color: $black;
                
                p {
                    font-size: $font-size-xl;
                    line-height: 1.43;
    
                    @include media-down(md) {
                        font-size: $font-size-large;
                    }
    
                    @include media-down(sm) {
                        font-size: $default-font-size;
                    }
                }
                
                footer {
                    font-size: $font-size-xl;
                    display: block;
                    font-weight: $font-weight-bold;
                    margin: 19px 0 6px;
                    line-height: 1.29;
                    text-transform: uppercase;
    
                    @include media-down(md) {
                        font-size: $font-size-large;
                    }
    
                    @include media-down(sm) {
                        margin: 16px 0 4px;
                        font-size: $default-font-size;
                    }
    
                    & + div {
                        font-size: $default-font-size;
                        line-height: 1.4;
                        color: $brownish-grey;
    
                        @include media-down(md) {
                            font-size: $font-size-medium;
                        }
                        
                        a {
                            color: $brownish-grey;
                            font-style: italic;
                        }
                    }
                }
            }
        }
            
    }
}
