#footer {
    margin: 19px 0 40px;

    .flex-row { 
        
        @include media-down(md) {
           flex-direction: column;
        }

        .footer-links {
            display: flex;

            @include media-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col {
                padding: 0;

                @include media-down(sm) {
                    margin-bottom: 32px;
                }
            }
    
            .section-name {
                font-weight: $font-weight-semi-bold;
                margin-bottom: 10px;
                @extend .footer.link;

                @include media-down(sm) {
                    font-size: $font-size-small;
                }
            }
            
            ul {
                @extend .list-style;
    
                li {
                    margin-bottom: 8px;
                    
                    a {
                        font-weight: $font-weight-normal;        
                        @include media-down(sm) {
                            font-size: $font-size-small;
                        }
                    }
                }
            }
        }

        .footer-social {

            @include media-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 40px;
            }

            @include media-down(sm) {
                margin-top: 0;
                display: flex;
                justify-content: center;
            }
            
            ul {
                @extend .list-style;
                display: flex;
                justify-content: space-between;

                @include media-down(md) {
                    justify-content: end;
                }

                li {

                    a {
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        background-color: #e7e8ea;
                        color: $blue;
                    }

                    @include media-down(md) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .footer-copyright {
        color: $brownish-grey;
        font-size: $font-size-medium;
        line-height: $line-height;
        text-align: right;

        @include media-down(md) {
            margin-top: -33px;
        }
        
        @include media-down(sm) {
            margin-top: 24px;
            text-align: center;
            font-size: $font-size-small;
        }
    }
}

  // The mask
  
.mask, .bg-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.bg-mask {
    z-index: 0;
    margin-top: $header-height;
}
  
  // Modal
  
.modal {
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    
    .modal-body {
        width: 50%;
        background: $white;
        position: relative;
        padding: 32px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 9px;

        @include media-down(md) {
            width: 75%;
        }

        @include media-down(sm) {
            width: 90%;
        }
        
        h3 {
            display: inline-block;
            font-size: $font-size-large;
            margin: 0 12px;
        }

        .close {
            position: absolute;
            top: 33px;
            font-size: 22px;
            right:33px;
            background: $white;
            color: $black;
            cursor: pointer;
            border: 0;
        }

        .copyright {
            font-size: $font-size-small;
            color: $brownish-grey;
            margin: 16px;
            
            a {
                font-size: $font-size-small;
                color: $blue;
            }
          
        }

        .form-field {
            margin-top: 16px;

            label {
                font-size: $font-size-small;
                line-height: 1.29;
                color: $brownish-grey;
                margin-bottom: 8px;
                display: block;
            }

            input, select {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 15px;
                border-radius: 4px;
                border: solid 1px $light-blue-grey;
                background-color: $white;
            }

            select {
                color: #111111;
            }

            .button-section {
                margin-top: 16px;

                .button {
                    padding: 0 110px;
                }
            }
        }
    }
}
  
.active {
    visibility: visible;
    opacity: 1;

    & + .modal{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}