
.demo {
    margin-top: 16px;
    padding: 80px 0;

    @include media-down(md) {
        padding: 64px 0;
    }

    @include media-down(sm) {
        padding: 32px 0 48px;
    }

    .wrapper {

        @media (min-width: 768px) and (max-width: 1280px) { 
            padding: 0;
        }

        .col-25 {

            @include media-down(md) {
                padding: 0;
                max-width: 13%;
                flex: 0 0 90%;
            }
        }

        .col-50 {

            @media (min-width: 768px) and (max-width: 1280px) {
                max-width: 74%;
                flex: 0 0 74%;
                padding: 0 40px;
            }
        }
        
        .icon.icon-zigzag-group {
            
            @include media-down(md) {
                background-size: cover;
            }
        }
    }
    
    .flex-row {

        p {
            margin: 12px 0 32px;
            font-size: $font-size-large;
            line-height: 1.33;  
        }
    }

}

hr {
    border: 1px solid $light-blue-grey;
    margin: 0 32px;
}
#footer {
    margin: 19px 0 40px;

    .flex-row { 
        
        @include media-down(md) {
           flex-direction: column;
        }

        .footer-links {
            display: flex;

            @include media-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col {
                padding: 0;

                @include media-down(sm) {
                    margin-bottom: 32px;
                }
            }
    
            .section-name {
                font-weight: $font-weight-semi-bold;
                margin-bottom: 10px;
                @extend .footer.link;

                @include media-down(sm) {
                    font-size: $font-size-small;
                }
            }
            
            ul {
                @extend .list-style;
    
                li {
                    margin-bottom: 8px;
                    
                    a {
                        font-weight: $font-weight-normal;        
                        @include media-down(sm) {
                            font-size: $font-size-small;
                        }
                    }
                }
            }
        }

        .footer-social {

            @include media-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 40px;
            }

            @include media-down(sm) {
                margin-top: 0;
                display: flex;
                justify-content: center;
            }
            
            ul {
                @extend .list-style;
                display: flex;
                justify-content: space-between;

                @include media-down(md) {
                    justify-content: end;
                }

                li {

                    a {
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #e7e8ea;
                        color: $blue;
                    }

                    @include media-down(md) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .footer-copyright {
        color: $brownish-grey;
        font-size: $font-size-medium;
        line-height: $line-height;
        text-align: right;

        @include media-down(md) {
            margin-top: -33px;
        }
        
        @include media-down(sm) {
            margin-top: 24px;
            text-align: center;
            font-size: $font-size-small;
        }
    }
}

  // The mask
  
.mask, .bg-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.bg-mask {
    z-index: 0;
    margin-top: $header-height;
}
  
  // Modal
  
.modal {
    position: fixed;
    z-index: 100;
    height: 90vh;
    width: 55%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateX(-50%) translateY(-50%); top: 50%; left: 50%;

    @include media-down(md) {
        width: 75%;
    }

    @include media-down(sm) {
        width: 90%;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    
    ::-webkit-scrollbar-track {
        background: transparent; 
    }

    
    ::-webkit-scrollbar-thumb {
        background: $light-blue-grey; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
    .modal-body {
        height: 90vh;
        overflow-x: auto;
        background: $white;
        position: relative;
        padding: 32px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 9px;

        @include media-down(md) {
            padding: 24px;
        }
        
        @include media-down(sm) {
            padding: 16px;
            height: 80vh;
        }

        .col {
            padding: 0;
        }

        .content-middle {
            margin-bottom: 16px;

            h3 {
                display: inline-block;
                font-size: $font-size-large;
    
                @include media-down(md) {
                    font-size: $default-font-size;
                }
            }
    
            .close {
                position: absolute;
                right: 33px;
                background: $white;
                color: $black;
                cursor: pointer;
                border: 0;
    
                @include media-down(md) {
                    right: 16px;
                }
            }
        }
        
        
        .consent-text {
            font-size: $font-size-small;
            color: $brownish-grey;
            
            a {
                font-size: $font-size-small;
                color: $blue;
            }
            
        }
        
        #fsCell78379958 {
            
            @include media-down(sm) {
                text-align: center;
            }
        }
        
        .fsBody.fsEmbed {
            padding: 0; 
            
            .fsForm {
                margin: 0;
                padding: 0;
            }
            
            label {
                font-size: $font-size-small;
                line-height: 1.29;
                color: $brownish-grey;
                margin-bottom: 8px;
                display: block;
                
                @include media-down(sm) {
                    font-size: $font-size-xs;
                }
            }

            input, select {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 15px;
                border-radius: 4px;
                border: solid 1px $light-blue-grey;
                background-color: $white;
            }

            select {
                color: #111111;
            }

            .fsSubmitButton,
            .fsPreviousButton, 
            .fsNextButton {
                @extend .button;
                @extend .large;
                background-color: $blue !important;
                width: 80%;
                border-radius: 8px !important;

                @include media-down(sm) {
                    width: 100%;
                }
            }
        }
    }
}
  
.active {
    visibility: visible;
    opacity: 1;

    & + .modal{
        visibility: visible;
        opacity: 1;
    }
}