#header {
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: $white;
    color: $dark-gray;
    box-shadow: $header-box-shadow;
    position: fixed;
    z-index: 10;

    & + * {
        margin-top: $header-height;
    }

    .header-logo-1 {

        @include media-down(sm) {
            margin-left: 44px;
        }
    }

    .content-wrap {
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        z-index: 10;

        @include media-down(md) {
            justify-content: space-between;
        }
    }

    .header-menu-item {

        &.link {
            padding: 0px 34px;
            font-size: $font-size-small;
            font-weight: bold;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            border-right: 1px solid $light-blue;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-down(md) {
                padding: 20px;
                font-size: $font-size-xs;
            }
            
        }

        &.button-link {
            margin-left: 32px;

            @include media-down(md) {
                margin-left: 16px;
            }
        }
        
        &.sign-in {
            color: $blue;

            @include media-down(md) {
                font-size: $font-size-medium;
            }
        }

        &.selected {
            font-weight: $font-weight-semi-bold;
        }
    }

    .right-group {
        margin-right: 32px;
        align-items: center;

        @include media-down(md) {
            margin-right: 12px;
        }
    }

    @include media-down(sm) {

        .menu-tab {
            width: 44px;
            height: $header-height;
            position: fixed;
            z-index: 1;
            background-color: $red;
            top: 0px;
            left: 0px;
            cursor: pointer;
            transition: all .6s ease-in-out;
            
            div {
                width: 16px;
                height: 2px;
                background-color: $white;
                display: block;
                margin: 3px 17px;
                transition: all .6s ease-in-out;
              
                &:nth-child(1){
                    margin-top: 22px;
                }
            }
        }
          
        .menu-tab.active {
            left: 0;
            transition: all 600ms ease-in-out;
            background-color: $white;
            z-index: 100;
            will-change: auto;

            div {
                height: 2px;

                &:nth-child(1){
                    margin-top: 15px;
                }
            }
            
            #one {
                transform: translateY(11px) rotate(-130deg);
                transition: all .6s ease-in-out;
                background-color: $black;
            }
            
            #two {
                opacity: 0;
                transition: .4s ease;
            }
            
            #three {
                transform: translateY(1px) rotate(-45deg);
                transition: all .6s ease-in-out;
                background-color: $black;
            }
        }
          
        .menu-hide {
            width: 240px;
            left: -240px;
            height: 100vh;
            position: fixed;
            z-index: 10;
            top: 0px;
            transition: all .6s ease-in-out;
            
            nav {

                ul {
                    margin-top: $header-height;
                    border-top: 1px solid $light-blue-grey;

                    li {
                        padding: 20px 23px;
                        transition: all .5s ease;
            
                        a {
                            padding: 30px 25px;
                            line-height: 1.29;
                            letter-spacing: 0.5px;
                            font-size: $font-size-small;
                        }
                    }
                }
            }
        }

        .menu-hide.show {
            left: 0px;
            background-color: $white;
            transition: all .6s ease-in-out;
        }
    }
}
  
