#hero {
    background: url(../images/homepage/hero.jpg) no-repeat center center;
    width: 100%;
    background-size: cover;
    min-height: 65vh;

    @include media-down(sm) {
        background: none;
        min-height: auto;
        align-items: flex-end;
    }
    
    .hero-image {

        @include media-down(sm) {
            background: url(../images/homepage/hero.jpg) no-repeat;
            background-position: top center;
            background-size: contain;
            min-height: 250px;
            width: 100%;
            background-size: cover;
        }
    }

    .wrapper {

        @include media-down(sm) {
            padding: 0;
            display: block;
        }
    }

    .hero-text {
        opacity: 0.95;
        margin: 0 12px;
        border-radius: 10px;
        background-color: $dark-blue;
        padding: 48px;
        color: $white;

        @include media-down(md) {
            padding: 24px;
        }

        @include media-down(sm) {
            opacity: 1;
            border-radius: 0;
            margin: 0;
        }
    }

    .subtitle {
        margin: 8px 0 28px;

        @include media-down(md) {
            margin-bottom: 24px;
        }
    }
}

#homepage-cards {
    @extend .padding;

    .card {

        &:last-child {
    
            @include media-down(sm) {
                margin-bottom: 0px;
            }
        }

        @include media-down(sm) {
            justify-content: baseline;
            margin-bottom: 32px;
        }

        img {
            margin-bottom: 16px;
            height: 300px;
            object-fit: cover;

            @include media-down(md) {
                height: 176px;
            }
                
            @include media-down(sm) {
                height: inherit;
            }
        }

        p {
            margin-top: 8px;
            margin-bottom: 16px;
            color: $light-black;
            min-height: 113px;

            @include media-down(md) {
                margin-bottom: 12px;
                min-height: auto;
            }

            @include media-down(sm) {
                margin-top: 4px;
                margin-bottom: 16px;
            }
        }

        a {
            color: $blue;
            font-weight: $font-weight-bold;
        }
    }
}

#features {
    background-color: $ice-blue;
    @extend .padding;

    
    .flex-row {

        @include media-down(md) {
            align-items: flex-start;
        }

        @include media-down(sm) {
            flex-direction: column-reverse;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;
            margin: 96px 0;

            @include media-down(md) {
                margin: 64px 0;
            }

            @include media-down(sm) {
                margin: 0;
                flex-direction: column-reverse;
                margin: 32px 0;
            }

            .col:nth-child(2n+1) {
                margin-left: 32px;
                margin-right: 0;
                
                @include media-down(md) {
                    margin-left: 0;
                }
            }
        }

        img {
            border-radius: 8px;
        }

        .col {

            &:nth-child(2n+1) {
                margin-right: 32px;
                @include media-down(md) {
                    margin-right: 0;
                }
            }
            
            h2 {
                color: $dark-blue;

                @include media-down(sm) {
                    margin-bottom: 6px;
                    margin-top: 17px;
                }
            }

            p {
                font-size: $font-size-large;
                color: $black;
                line-height: 1.5;
                margin: 12px 0 28px;

                @include media-down(md) {
                    font-size: $font-size-medium;
                    margin: 12px 0 16px;
                }

                @include media-down(sm) {
                    margin: 10px 0 20px;
                }
            }
        }
    }
}

.homepage-partners {
    .partners .flex-row {

        div:nth-child(8) {

            @include media-down(md) {
                display: none;
            }

            @include media-down(sm) {
                display: block;
            }
        }
    }
}

#testimonials {
    @extend .padding;

    h2 {
        margin-bottom: 48px;

        @include media-down(md) {
            margin-bottom: 32px;
        }
    }

    .flex-column {
        justify-content: center;
        align-items: center;

        & > div {
            border: 1px solid $light-blue-grey;
            border-radius: 16px;
            width: 100%;
            margin-bottom: 48px;
            padding: 66px;   
            display: flex;
            justify-content: center;

            @include media-down(md) { 
                margin-bottom: 32px;
                padding: 40px;
            }

            @include media-down(sm) {
                padding: 16px;
            }

            & > div {
                
                &:nth-child(1) {
                    max-width: 86%;
                    
                    @include media-down(md) { 
                        max-width: 100%;
                    }
                }
                
                &:nth-child(2) {
                    max-width: 73%;

                    @include media-down(md) { 
                        max-width: 90%;
                    }
    
                    @include media-down(sm) {
                        max-width: 100%;
                    }
                }
                
                &:nth-child(3) {
                    max-width: 60%;
    
                    @include media-down(md) {
                        max-width: 80%;
                        margin-bottom: 0;
                    }
    
                    @include media-down(sm) {
                        max-width: 100%;
                    }
                }
    
                & > div {
                    justify-content: space-between;
                }
    
                p {
                    line-height: 1.4;
                    color: $black;
                    margin-bottom: 16px;
                    padding: 0 56px;
                    font-size: $font-size-large;
    
                    @include media-down(md) {
                        padding: 0 25px;
                        font-size: $default-font-size;
                    }
    
                    @include media-down(sm) {
                        padding: 0;
                        margin-top: 16px;
                    }
                }
    
                cite {
                    display: inline-block;
                    font-style: normal;
                    font-size: $font-size-large;
                    font-weight: $font-weight-bold;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $black;
    
                    @include media-down(sm) {
                        font-size: $font-size-small;
                    }
                    
                }

                small {
                    font-size: $default-font-size;
                    margin-top: 4px;
                    text-transform: capitalize;
                    
                    @include media-down(sm) {
                        font-size: $font-size-small;
                    }
                }
            }
        }
    }
}

