#pricing {
    background: url(../images/pricing/hero.svg) no-repeat center center;
    background-size: cover;

    &.hero-section.page-hero {

        @include media-down(sm) {
            background: url(../images/pricing/hero.svg) no-repeat center center !important;
            background-size: cover !important;
            display: flex;
            padding: 45px 16px;
        }
    }
    
    .hero {
        background-color: $white;

        @include media-down(sm) {
            opacity: 1;
            border-radius: 8px;
        }

        h1 {
            color: $black;
        }

        .subtitle {
            color: $light-black;
        }

    }
}

.plans {
    @extend .padding;

    h2 {
        margin-bottom: 40px;
    }

    .cards {

        .col-33 {

            @include media-down(md) {
                padding: 0;
            }
            
            @include media-down(sm) {
                flex: 0 0 33%;
                max-width: 33%;
            }
        }

        .card {
            border-radius: 8px;
            border: solid 1px $light-blue-grey;
            padding: 40px;
            height: 270px;

            @include media-down(md) {
                height: 218px;
                padding: 20px;
            }
            
            @include media-down(sm) {
                height: auto;
            }
            
            h2 {
                margin-bottom: 32px;

                @include media-down(sm) {
                    font-size: $font-size-large;
                }
            }
            
            small {
                font-size: $font-size-medium;

                @include media-down(md) {
                    font-size: $font-size-small;
                }
            }
            
            ul {
                
                li {
                    margin-bottom: 8px;
                    font-size: $default-font-size;
                    
                    @include media-down(md) {
                        font-size: $font-size-medium;
                    }
                }
            }
            
        }

        .col:last-child { 
            margin-left: 32px;

            @include media-down(md) {
                margin-left: 12px;
            }

            @include media-down(sm) {
                margin-top: 32px;
                margin-left: 0;
            }
        
            .card {

                small {
                    opacity: 0.8;
                }
            }
        }

        .checklist-section {
            margin-top: 24px;

            ul li {
                margin-bottom: 8px;

                span {
                    font-size: $default-font-size;
                    line-height: 1.4;
                    color: $black;

                    @include media-down(md) {
                        font-size: $font-size-medium;
                    }
                }
            }

            small {
                margin-bottom: 16px;
                margin-left: 40px;
                font-size: $font-size-medium;

                @include media-down(md) {
                    margin-left: 28px;
                    font-size: $font-size-small;
                }
            }
        }
    }    
}

#form {
    margin-bottom: 24px;

    h2 {
        margin-bottom: 15px;

        & + div {
            width: 100%;
        }
    }

    .form-section {
        @extend .padding;
        background-color: $ice-blue;
    
        h3 {
            margin-bottom: 20px;
        }
    }

}

// new

#pricing-v2 .hero {
    height: 520px;
    background-color: #002A81;
    background-image: url("../images/pricing-new/bg-hero.png");
    background-size: cover;
    display: inline-block;
    width: 100%; }
    #pricing-v2 .hero__slogan {
      max-width: 100%;
      width: 655px;
      text-align: center;
      color: white;
      display: block;
      margin: 100px auto 0; }
      #pricing-v2 .hero__slogan h2 {
        font-size: 42px; }
      #pricing-v2 .hero__slogan p {
        font-size: 24px; }
    #pricing-v2 .hero img {
      width: 750px;
      max-width: 90%;
      display: block;
      margin: 0 auto; }
  
  #pricing-v2 .content h3 {
    font-size: 42px;
    color: #002A81;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 50px 0; }
  
  #pricing-v2 .content .compare-plan {
    margin-top: 120px; }
    #pricing-v2 .content .compare-plan__header {
      text-align: center; }
    #pricing-v2 .content .compare-plan__btn-wrapper {
      background: rgba(32, 94, 216, 0.03);
      border: 1px solid rgba(79, 126, 217, 0.2);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 14px;
      display: inline-block;
      padding: 3px; }
    #pricing-v2 .content .compare-plan__btn {
      font-size: 20px;
      font-weight: 600;
      color: black;
      padding: 16px 50px;
      border-radius: 14px;
      display: inline-block;
      border: 0;
      background: transparent;
      -webkit-transition: all ease .2s;
      transition: all ease .2s;
      outline: 0 !important;
      position: relative; }
      #pricing-v2 .content .compare-plan__btn:hover, #pricing-v2 .content .compare-plan__btn.active {
        background-color: #002A81;
        color: white; }
      #pricing-v2 .content .compare-plan__btn .save {
        position: absolute;
        top: -20px;
        right: -70px;
        padding: 7px;
        border: 1px solid #DF1E25;
        width: 100px;
        border-radius: 14px;
        color: #DF1E25;
        font-weight: bold;
        background: white;
        font-size: 16px; }
    #pricing-v2 .content .compare-plan__body {
      margin-top: 50px; }
      #pricing-v2 .content .compare-plan__body h4 {
        font-size: 34px;
        color: #002A81; }
      #pricing-v2 .content .compare-plan__body p {
        font-size: 16px;
        color: #535353; }
      #pricing-v2 .content .compare-plan__body .categories {
        border-bottom: 1px solid rgba(0, 42, 129, 0.2);
        border-top: 1px solid rgba(0, 42, 129, 0.2);
        padding-bottom: 17px; }
        #pricing-v2 .content .compare-plan__body .categories h4 {
          margin: 200px 0; }
      #pricing-v2 .content .compare-plan__body ul li {
        padding: 10px 0;
        border-bottom: 1px solid #E6ECF7; }
      #pricing-v2 .content .compare-plan__body .bullet {
        width: 17px;
        height: 17px;
        display: inline-block;
        background: #002A81;
        border-radius: 100%;
        vertical-align: middle; }
        #pricing-v2 .content .compare-plan__body .bullet.disabled {
          background: rgba(106, 106, 106, 0.6); }
        #pricing-v2 .content .compare-plan__body .bullet.opacity-disabled {
          background: rgba(106, 106, 106, 0.1); }
      #pricing-v2 .content .compare-plan__body .plan {
        text-align: center;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
        padding: 20px;
        border-radius: 16px;
        position: relative; }
        #pricing-v2 .content .compare-plan__body .plan ul {
          display: inline-block;
          width: 100%;
          margin-top: 33px; }
        #pricing-v2 .content .compare-plan__body .plan h4 {
          position: relative;
          padding-bottom: 10px;
          margin-bottom: 15px; }
          #pricing-v2 .content .compare-plan__body .plan h4:after {
            content: "";
            border-bottom: 1px solid #EAEAEA;
            height: 1px;
            width: 80px;
            position: absolute;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%); }
        #pricing-v2 .content .compare-plan__body .plan .pricing {
          margin-top: 15px;
          text-align: center;
          background: rgba(32, 94, 216, 0.03);
          border: 1px solid rgba(32, 94, 216, 0.3);
          border-radius: 16px;
          height: 240px; }
          #pricing-v2 .content .compare-plan__body .plan .pricing--big .price {
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            color: white;
            font-weight: 600;
            font-size: 24px; }
          #pricing-v2 .content .compare-plan__body .plan .pricing .price {
            padding: 20px 36px;
            background: #205ED8;
            border-radius: 16px; }
            #pricing-v2 .content .compare-plan__body .plan .pricing .price .value {
              color: white;
              font-weight: 600;
              font-size: 42px; }
            #pricing-v2 .content .compare-plan__body .plan .pricing .price .compared-value {
              font-weight: 600;
              font-size: 30px;
              color: white;
              opacity: .3; }
            #pricing-v2 .content .compare-plan__body .plan .pricing .price sub {
              font-size: 20px;
              color: white; }
          #pricing-v2 .content .compare-plan__body .plan .pricing .desc {
            padding: 20px 36px;
            color: #002A81; }
        #pricing-v2 .content .compare-plan__body .plan .balloon {
          width: 113px;
          height: 42px;
          background: url(../images/pricing-new/icon-balloon.svg);
          padding: 7px 0;
          font-size: 14px;
          color: black;
          font-weight: 600;
          position: absolute;
          bottom: 195px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
  
  #pricing-v2 .content .request-demo-btn {
    padding: 11px;
    text-align: center;
    width: 70%;
    max-width: 300px;
    margin: 50px auto;
    border-radius: 16px;
    background-color: #002A81;
    color: white;
    display: block;
    font-weight: 600; }
  
  #pricing-v2 .content .people-counting-section .slider__author {
    margin-top: 0; }
    #pricing-v2 .content .people-counting-section .slider__author:before {
      display: none; }
    #pricing-v2 .content .people-counting-section .slider__author small {
      color: gray;
      text-transform: none; }
  
  #pricing-v2 .content .people-counting-section .slider .slick-arrow {
    display: block !important; }
  
  #pricing-v2 .content .people-counting-section .slider .slick-dots {
    display: none !important; }
  
  #pricing-v2 .content .people-counting-section .slider p {
    font-weight: normal; }
  
  #pricing-v2 .content .divider {
    position: relative;
    border-top: 1px solid #eee;
    height: 100px; }
    #pricing-v2 .content .divider:before {
      width: 140px;
      height: 140px;
      position: absolute;
      left: 0;
      right: 0;
      top: -44px;
      background: #fff url(../images/people-counting/quote.9429e2f9.svg) no-repeat center 0;
      background-size: 88px 88px;
      content: "";
      margin: auto; }
  
  #pricing-v2 .content .trusted__slider {
    padding: 10px 0; }
  
  #pricing-v2 .content .trusted__slide {
    width: 185px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 0 10px; }
    #pricing-v2 .content .trusted__slide img {
        width: auto;
      max-width: 135px; }
  
  #pricing-v2 .content .trusted .slick-track {
    padding: 15px 0; }
  
  #pricing-v2 .content .accordion {
    padding: 25px;
    background: rgba(236, 241, 255, 0.3);
    border-radius: 40px; }
    #pricing-v2 .content .accordion__tab {
      background: #FFFFFF;
      -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      padding: 20px 30px; }
      #pricing-v2 .content .accordion__tab .tab-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer; }
        #pricing-v2 .content .accordion__tab .tab-header .number {
          color: rgba(32, 94, 216, 0.3);
          font-size: 22px;
          display: inline-block;
          width: 40px; }
        #pricing-v2 .content .accordion__tab .tab-header h5 {
          font-size: 22px;
          font-weight: 600;
          color: #002A81; }
        #pricing-v2 .content .accordion__tab .tab-header:after {
          content: "+";
          width: 40px;
          height: 40px;
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -20px;
          border-radius: 9px;
          background: #002A81;
          color: white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-size: 32px; }
      #pricing-v2 .content .accordion__tab .tab-body {
        display: none; }
        #pricing-v2 .content .accordion__tab .tab-body p {
          font-size: 20px;
          padding-left: 40px;
          margin-top: 10px; }
      #pricing-v2 .content .accordion__tab.active .tab-header:after {
        content: "-"; }
  
  #pricing-v2 .content .people-counting-section {
    margin-top: 140px; }
    #pricing-v2 .content .people-counting-section h3 {
      text-align: left;
      line-height: normal;
      margin: 20px 0; }
    #pricing-v2 .content .people-counting-section .dots {
      position: absolute;
      left: 0;
      width: 130px;
      top: -180px;
      left: -60px;
      z-index: -1; }
  
  @media screen and (max-width: 767px) {
    #pricing-v2 .hero__slogan h2 {
      line-height: normal; }
    #pricing-v2 .hero__slogan p {
      padding: 0 10px; }
    #pricing-v2 .hero {
      height: auto; }
    #pricing-v2 .hero img {
      margin-bottom: -30%; }
    #pricing-v2 .content h3 {
      font-size: 32px;
      margin: 20px 0; }
    #pricing-v2 .content .compare-plan__btn {
      font-size: 16px;
      padding: 16px 20px; }
    .compare-plan__body .col:first-child {
      display: none; }
    .compare-plan__body .col {
      margin-bottom: 20px; }
    .compare-plan__body .flex-row {
      display: block; }
    .compare-plan__body .accordion-block {
      display: none; }
    .compare-plan__body h4 {
      position: relative;
      font-size: 30px;
      font-weight: normal; }
      .compare-plan__body h4:before {
        content: "+";
        position: absolute;
        right: 0;
        top: 0;
        color: #002A81;
        font-size: 36px; }
    .compare-plan__body .plan.active h4:before {
      content: "-"; }
    #pricing-v2 .content .compare-plan__body .plan .pricing .price {
      padding: 20px; }
    #pricing-v2 .content .accordion__tab .tab-header .number {
      display: none; }
    #pricing-v2 .content .accordion {
      padding: 10px; }
    #pricing-v2 .content .accordion__tab .tab-body p {
      padding-left: 0;
      font-size: 15px; }
    #pricing-v2 .content .accordion__tab .tab-header h5 {
      padding-right: 50px; }
    #pricing-v2 .content .accordion__tab .tab-header h5 {
      font-size: 18px; }
    .people-counting-section .flex-row {
      display: block; }
      .people-counting-section .flex-row .col {
        display: block; }
    .people-counting-cta .wrapper {
      padding: 20px; }
    #pricing-v2 .content .people-counting-section .dots {
      position: relative;
      margin-top: 30px; } }