#pricing {
    background: url(../images/pricing/hero.png) no-repeat center center;
    background-size: cover;
}

.plans {
    @extend .padding;

    h2 {
        margin-bottom: 40px;
    }

    .cards {

        .col-33 {

            @include media-down(md) {
                padding: 0;
            }
            
            @include media-down(sm) {
                flex: 0 0 33%;
                max-width: 33%;
            }
        }

        .card {
            border-radius: 8px;
            border: solid 1px $light-blue-grey;
            padding: 40px;
            height: 270px;

            @include media-down(md) {
                height: 218px;
                padding: 20px;
            }

            @include media-down(sm) {
                height: auto;
            }

            h3 {
                margin-bottom: 32px;
            }

            ul {
                
                li {
                    margin-bottom: 8px;
                }
            }
            
        }

        .col:last-child { 
            margin-left: 32px;

            @include media-down(md) {
                margin-left: 0;
            }

            @include media-down(sm) {
                margin-top: 32px;
            }
        
            .card {
                background-color: $blue;

                h3, 
                ul > li, 
                small {
                    color: $white;
                }

                small {
                    opacity: 0.8;
                }
            }
        }

        .checklist-section {
            margin-top: 24px;

            ul li {
                margin-bottom: 8px;

                span {
                    font-size: $default-font-size;
                    line-height: 1.4;
                    color: $black;

                    @include media-down(md) {
                        font-size: $font-size-medium;
                    }
                }
            }

            small {
                margin-bottom: 16px;
                margin-left: 40px;

                @include media-down(md) {
                    margin-left: 34px;
                }

            }
        }
    }    
}

#form {
    margin-bottom: 24px;

    .form-section {
        @extend .padding;
        background-color: $ice-blue;
    
        h3 {
            margin-bottom: 20px;
        }
    }

}