@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$font-family: "Ringside Regular A", "Ringside Regular B";
$font-narrow-family: "Ringside Narrow A", "Ringside Narrow B";

$default-font-size: 20px;
$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-xl: 28px;

$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;
$line-height: 1.5;

$font-size-h1: floor(($default-font-size * 1.8));
$font-size-h1-mobile: floor(($default-font-size * 1.2));

$font-size-h2: floor(($default-font-size * 1.6));
$font-size-h3: floor(($default-font-size * 1.4));
$font-size-h4: floor(($default-font-size * 1.2));

* {
	font-family: $font-family;
}

h1, h2, h3, h4, p {
	margin: 0;
}

h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    line-height: 1.22;

    @include media-down(md) {
        font-size: $font-size-xl;
    }
}

h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;

    &.large {
        font-size: $font-size-h1;

        @include media-down(md) {
            font-size: $font-size-xl;
        }

        @include media-down(sm) {
            font-size: $font-size-large;
        }
    }

    @include media-down(md) { 
        font-size: $font-size-large;
    }

    @include media-down(sm) {
        font-size: $default-font-size;
    }
}

h3 {
    font-size: $font-size-h3;

    @include media-down(md) {
        font-size: $default-font-size;
    }
}

h4 {
    font-size: $font-size-h4;

    @include media-down(md) {
        font-size: $default-font-size;
    }

    @include media-down(sm) {
        font-size: $font-size-medium;
    }
}

p, a, span {
	line-height: 1.4;
    font-size: $default-font-size;

    @include media-down(md) {
        font-size: $font-size-medium;
    }
}

small {
    margin-bottom: 16px;
    display: block;
    font-size: $font-size-small;
    letter-spacing: 0.5px;
    color: $brownish-grey;
    text-transform: uppercase;

    strong {
        color: $black;
    }
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subtitle {
	font-size: $font-size-large;
    line-height: 1.33;
    
    @include media-down(md) {
        font-size: $default-font-size;
    }
}

a,
a:hover {
	text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-bold {
    font-weight: $font-weight-bold;
}

.text-semi-bold {
    font-weight: $font-weight-semi-bold;
}

.text-default {
    font-size: $default-font-size;
    line-height: 1.55;
}

.list-style {
    list-style: none;
    margin: 0;
    padding: 0;
}